div(ng-include='\'partials/navbar\'')

.jumbotron
  p
    | This is the timer view.
    |  We're trying to crash shit by making Angular manipulate a
    |  TON of listeners on the page.
  p
    label
      | Time to add ~3000 listeners to the page at once:
      br
      | 6 Groups, 30 Filters each, 6 Properties per filter, 15 options per filter, other stuff...
    br
    input(
      placeholder='instant'
      ng-model='timer'
    )
    br

    label Time to update(O2) all values:
    br
    input(
      placeholder='instant'
      ng-model='updated'
    )
    br

    label Time to destroy them:
    br
    input(
      placeholder='instant'
      ng-model='destroyed'
    )

    label Total time from when page started loading:
    br
    input(
      placeholder='instant'
      ng-model='totalTime'
    )

div(ng-repeat='group in Model.Groups')
  span(style='font-weight: bold;') {{group.Name}}
    div.singleFilterWrapper(
      ng-repeat='filter in group.Filters'
    )
      input(
        type='checkbox'
        ng-model='filter.enabled'
        id='check_{{group.Name}}_{{filter.Name}}'
      )
      label(
        for='check_{{group.Name}}_{{filter.Name}}'
      ) {{filter.Name}}
      select(
        ng-disabled='!filter.enabled'
      )
        option(ng-repeat='value in filter.Values') {{value}}
