div(ng-include='\'partials/navbar\'')

.jumbotron
  p
    | This is the normal timer view.
    |  We're just loading a normal/large set of views onto the page.
    br
    | I threw in an ajax request just to keep thinks interesting.
  p
    label Time to make the ajax request once angular has compiled but before data insertion:
    br
    input(
      placeholder='instant'
      ng-model='ajax'
    )
    br

    label
      | Time to add ~350 listeners to the page at once:
      br
      | 6 Groups, 5 Filters each, 6 Properties per filter, 5 options per filter, other stuff...
    br
    input(
      placeholder='instant'
      ng-model='timer'
    )
    br

    label Total time from when page started loading:
    br
    input(
      placeholder='instant'
      ng-model='totalTime'
    )

div(ng-repeat='group in Model.Groups')
  span(style='font-weight: bold;') {{group.Name}}
    div.singleFilterWrapper(
      ng-repeat='filter in group.Filters'
    )
      input(
        type='checkbox'
        ng-model='filter.enabled'
        id='check_{{group.Name}}_{{filter.Name}}'
      )
      label(
        for='check_{{group.Name}}_{{filter.Name}}'
      ) {{filter.Name}}
      select(
        ng-disabled='!filter.enabled'
      )
        option(ng-repeat='value in filter.Values') {{value}}
